<ng-container *ngIf="dialogData$ | async as dialogData">
  <div class="overlay" *ngIf="dialogData.visible">
    <div class="dialog">
      <h2>{{ dialogData.title }}</h2>

      <p>{{ dialogData.message }}</p>

      <div class="buttons">
        <button
          *ngIf="dialogData.cancelText"
          class="cancel-btn"
          (click)="cancel()"
        >
          {{ dialogData.cancelText }}
        </button>

        <button class="confirm-btn" (click)="confirm()">
          {{ dialogData.confirmText }}
        </button>
      </div>
    </div>
  </div>
</ng-container>